
  <ion-content>
  <img src="img/sear_logo.png" style="margin-top: 50%; margin-left: 23%;height: 200px; width: 200px;">

  </ion-content>


</ion-view>



<div class="bar bar-footer" style="background-color:#0747A6; height: ;">




<ion-icon style="margin-left:13% ; height:;"class=" button icon-left ion-ios-paper-outline button-positive " > Facturación</ion-icon>

  <ion-icon   ng-click="login()" style=" margin-right:13%"class="button icon-left ion-ios-briefcase button-positive"> Reservación</ion-icon>




</div>
