<ion-content   class="LoginClase" scroll="false">
  <div class="LoginClase" >
      <div class="list list-inset">

      <div ng-class="!login.plataformaMovil ? 'panel panel-default center-block' : 'panel panel-default center-block margenLoginMovil' " class="panel panel-default center-block" layout="column" layout-align="center center" layout-fill="layout-fill"> <!-- class="panel panel-default center-block" layout="column" layout-align="center center" layout-fill="layout-fill"-->
        <div layout="column" class="panel-body clearfix">
            <md-content layout="column" class="list list-inset">
              <img  src="img/logo-oscuro.png" class="img-responsive center-block">
              
              <label class="item item-input">
                  <input id="email" name="email" maxlength="30" type="email" placeholder="Usuario" required ng-model="login.loginData['email']">
                  <span class="input-label"><p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="error">*Required.</p></span>
              </label>
              <label class="item item-input">
                  <input id="password" name="password" maxlength="16" type="password" ng-model="login.loginData['password']" placeholder="Contraseña" required>
                  <span class="input-label">
                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="error">*Required.</p></span>
              </label>
              <p id="loginError" ng-show="login.usuarioCorrecto" class="error">Usuario o contraseña incorrectos.</p>
              <br>
              <div layout="row" layout-align="center center" ng-if="login.loginData['email'].length && login.loginData['password'].length" >
                <div class="labelCenter sinColor">
                  <label class="ChecboxLogin"><input type="checkbox"  ng-click="login.recordar= !login.recordar" value="" ng-checked="login.recordar"> Recordar usuario</label>
                </div>
              </div>
              <br>
              <div layout="row" layout-align="center center">
                    <md-button type="submit" class="button button-block button-default" ng-if="login.loginData['email'].length && login.loginData['password'].length"  ng-disabled="loginForm.$invalid" ng-click="login.doLogin()">Ingresar</md-button>
              </div>

                <div class="labelCenter sinColor" layout-aling="center center">
                    <label class="labelLinks" ng-click="login.forgotPass()"fixed>Recuperar contraseña</label>
                </div>
            </md-content>
        </div>
      </div>
    </div>
  </div>
</ion-content>
